<header>
  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <a href="/" class="navbar-brand">Mes Contacts</a> 
    </div>
  </nav>
</header>

<div class="row">
  <div class="col-sm-4">

  <!-- *ngIf : Permet de faire le rendu HTML de la div, que si le tableau contacts contient des objets -->

    <div *ngIf="contacts">

        <ul class="list-group list-contacts">
          <li class="list-group-item" 
            *ngFor="let contact of contacts"
            (click)="choisirUnContact(contact)"
            [class.active]="contact === contactActif">
              {{contact.fullname}}
          </li>
        </ul>

    </div> <!-- ./ IFcontacts -->

    <!-- J'écoute ici l'évènement unContactEstCree, lorsqu'il est emit,
            j'appel la fonction ajouterContactDansListe -->
    <app-ajouter-contact 
      (unContactEstCree)="ajouterContactDansListe($event)">
      </app-ajouter-contact>

  </div> <!-- ./ col-sm-4 -->

  <div class="col-sm-8">

    <!-- Appel de notre Composant app-profil-contact -->
    <app-profil-contact [contact]="contactActif" ></app-profil-contact>

    <div class="jumbotron"
      *ngIf="!contactActif">

      <span class="glyphicon glyphicon-hand-left"></span>
      <h2>Bienvenue, choisis un contact</h2>

    </div> <!-- ./ jumbotron -->

  </div> <!-- ./ col-sm-8 -->

</div> <!-- ./ row -->

<!-- <p>Bonjour {{Contact.fullname}} <i>({{Contact.username}})</i></p> -->

<footer class="text-center">
  Copyright &copy; 2017
</footer>